{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <h3 class="text-center text-dark mb-2">
      {% block title %}{{ title }}{% endblock %}
    </h3>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="table-responsive text-center">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>id</th>
                <th class="text-start">Название</th>
                <th class="text-start">Значение</th>
                <th class="text-start">Описание</th>
                <th class="text-start">Документ</th>
                <th class="text-start">Действия</th>
              </tr>
            </thead>
            <tbody>
              {% for value in paginated_data.items %}
                <tr>
                  <td>{{ value.id }}</td>
                  <td class="text-start">{{ value.name }}</td>
                  <td class="text-start">{{ value.value }}</td>
                  <td class="text-start">{{ value.description|safe|truncate(50) }}</td>
                  <td class="text-start">{{ value.document|safe|truncate(30) }}</td>
                  <td>
                    <div class="btn-group" role="group">
                      <a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('.rates_values_edit', id_=value.rate_id, value_id=value.id) }}">Редактировать</a>
                      <a class="btn btn-danger btn-sm" role="button" href="{{ url_for('.rates_values_delete', id_=value.id) }}">Удалить</a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="btn-group" role="group">
                  <a class="btn btn-primary" role="button" href="{{ url_for('.rates_values_add', id_=rate_id) }}">Добавить</a>
                  <a class="btn btn-secondary" role="button" href="{{ url_for('.rates_get') }}">Назад</a>
                </div>
              </div>
              <div class="col">
                {% if paginated_data.pages > 1 %}
                  {% block pagination %}
                    {% include "common/pagination.html" %}
                  {% endblock %}
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}