{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <h3 class="text-center text-dark mb-1">
      {% block title %}Расчет денежного содержания (аттестованные){% endblock %}
    </h3>
  </div>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="container mb-2">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
          {% for item in form %}
            {% if item.label.field_id.startswith('rate_') %}
              <div class="row mb-1">
                <div class="col">
                  {{ item.label(class="text-dark") }}
                  {{ item(class="form-select") }}
                  {% for error in item.errors %}
                    <span style="color: var(--bs-danger);">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <div class="row mb-2">
            {% for item in form %}
              {% if item.label.field_id.startswith('addon_') %}
                <div class="col-sm-12 col-md-6">
                  {{ item.label(class="text-dark") }}
                  {{ item(class="form-select") }}
                  {% for error in item.errors %}
                    <span style="color: var(--bs-danger);">{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}

            <div class="col-sm-12 col-md-6">
              {{ form.pension_duty_years.label(class="text-dark") }}
              {{ form.pension_duty_years(class="form-control") }}
              {% for error in form.pension_duty_years.errors %}
                <span style="color: var(--bs-danger);">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="row">
            {% for item in form %}
              {% if item.label.field_id.startswith('single_') %}
                <div class="col-sm-12 col-md-6">
                  <div class="form-check form-switch">
                    {{ item(class="form-check-input", type="checkbox",
                       checked=item.object_data, id=item.label.field_id) }}
                    {{ item.label(class="form-check-label", for=item.label.field_id) }}
                    {% for error in item.errors %}
                      <span style="color: var(--bs-danger);">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {{ form.calculate(class="btn btn-success link-light mt-2", type="submit",
          style="background: #008751;width: 100%;font-weight: bold;border-style: none;") }}
        </div>
      </div>
    </div>
  </form>
  {% if payment_data %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
          <div class="card shadow mb-2">
            <div class="card-header py-3">
              <p class="text-center text-danger m-0 fw-bold">Расчет зарплаты</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <th class="text-dark">Название</th>
                      <th class="text-dark text-center">Сумма<br />(руб.)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for slug, data in payment_data.get("salary_data").items() %}
                      <tr>
                        <td>
                          <div>
                            <a class="btn text-start" data-bs-toggle="collapse" aria-expanded="false"
                              aria-controls="salary_{{ slug }}" href="#salary_{{ slug }}"
                              role="button" style="padding: 0px 0px;">
                              {{ data.get("name") }}
                            </a>
                            <div class="collapse" id="salary_{{ slug }}">
                              {% if data.get("value_name") %}
                                <p style="margin: 2px;"><b>"{{ data.get("value_name")|lower }}"</b></p>
                              {% endif %}
                              {% if data.get("document") %}
                                <p style="margin: 2px;"><br />{{ data.get("document") }}</p>
                              {% endif %}
                              {% if data.get("description") %}
                                <p style="margin: 2px;"><br />{{ data.get("description") }}</p>
                              {% endif %}
                              {% if data.get("increase") %}
                                <p style="margin: 2px;">
                                  <br />C учетом:<br />
                                  {% for item in data.get("increase") %}
                                    {{ item }}<br />
                                  {% endfor %}
                                </p>
                              {% endif %}
                            </div>
                          </div>
                        </td>
                        <td class="text-center" >{{ '%0.2f' % data.get("value")|float }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <td style="font-weight: bold;">Итого</td>
                      <td class="text-center" style="font-weight: bold;">
                        {{ '%0.2f' % payment_data.get("salary_total")|float }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
          <div class="card shadow mb-2">
            <div class="card-header py-3">
              <p class="text-center text-danger m-0 fw-bold">Расчет пенсии</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <th class="text-dark">Название</th>
                      <th class="text-dark text-center">Сумма<br />(руб.)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for slug, data in payment_data.get("pension_data").items() %}
                      <tr>
                        <td>
                          <div>
                            <a class="btn text-start" data-bs-toggle="collapse" aria-expanded="false"
                               aria-controls="pension_{{ slug }}" href="#pension_{{ slug }}"
                               role="button" style="padding: 0px 0px;"
                            >
                              {{ data.get("name") }}
                            </a>
                            <div class="collapse" id="pension_{{ slug }}">
                              {% if data.get("value_name") %}
                                <p style="margin: 2px;"><b>"{{ data.get("value_name")|lower }}"</b></p>
                              {% endif %}
                              {% if data.get("document") %}
                                <p style="margin: 2px;"><br>{{ data.get("document") }}</p>
                              {% endif %}
                              {% if data.get("description") %}
                                <p style="margin: 2px;"><br>{{ data.get("description") }}</p>
                              {% endif %}
                              {% if data.get("increase") %}
                                <p style="margin: 2px;">
                                  <br />C учетом:<br />
                                  {% for item in data.get("increase") %}
                                    {{ item }}<br />
                                  {% endfor %}
                                </p>
                              {% endif %}
                            </div>
                          </div>
                        </td>
                        <td class="text-center" >{{ '%0.2f' % data.get("value")|float }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <td style="font-weight: bold;">Итого</td>
                      <td class="text-center" style="font-weight: bold;">
                        {{ '%0.2f' % payment_data.get("pension_total")|float }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}