{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <h3 class="text-center text-dark mb-1">
      {% block title %}Расчет денежного содержания{% endblock %}
    </h3>
  </div>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
          <div class="row">
            <div class="col mb-1">
              {{ form.position.label(class="text-dark") }}
              {{ form.position(class="form-select") }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              {{ form.years_of_duty.label(class="text-dark") }}
              {{ form.years_of_duty(class="form-control", type="number") }}
            </div>
            <div class="col">
              {{ form.police_rank.label(class="text-dark") }}
              {{ form.police_rank(class="form-select") }}
            </div>
            <div class="col">
              <label class="form-label text-dark">Классность</label>
              <select class="form-select form-select-sm">
                <optgroup label="Выберите год:">
                  <option value="13">This is item 2</option>
                  <option value="14">This is item 3</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <label class="form-label text-dark">Допуск к гос. тайне</label>
              <select class="form-select form-select-sm" name="">
                <option value="12" selected="">This is item 1</option>
                <option value="13">This is item 2</option>
                <option value="14">This is item 3</option>
              </select>
            </div>
            <div class="col">
              <label class="form-label text-dark">Ученая степень</label>
              <select class="form-select form-select-sm">
                <optgroup label="Выберите год:">
                  <option value="13">This is item 2</option>
                  <option value="14">This is item 3</option>
                </optgroup>
              </select>
            </div>
              <div class="col">
                <label class="form-label text-dark">Ученое звание</label>
                <select class="form-select form-select-sm" name="">
                  <option value="12" selected="">This is item 1</option>
                  <option value="13">This is item 2</option>
                  <option value="14">This is item 3</option>
                </select>
              </div>
          </div>
        </div>
        <div class="col-md-10 col-xl-8 mt-3 mb-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchRelations" name="switch_relations">
            <label class="form-check-label" for="flexSwitchRelations">Знак "Почетный сотрудник МВД"</label>
          </div>
          <button class="btn btn-success link-light mt-2" id="get_payment" type="submit" style="background: #008751;width: 100%;font-weight: bold;border-style: none;" name="mtrx_ind_load">Рассчитать</button>
        </div>
      </div>
    </div>
  </form>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <div class="card shadow mb-2">
          <div class="card-header py-3">
            <p class="text-start text-danger m-0 fw-bold">Расчет зарплаты</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th class="text-dark">Вид</th>
                    <th class="text-dark">Сумма</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Оплата по окладу</td>
                    <td>45000</td>
                  </tr>
                  <tr>
                    <td>Оплата по званию</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Сумма</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>Налог (13%)</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Итого</td>
                    <td style="font-weight: bold;">6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <div class="card shadow mb-2">
          <div class="card-header py-3">
            <p class="text-start text-danger m-0 fw-bold">Расчет пенсии</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th class="text-dark">Вид</th>
                    <th class="text-dark">Сумма</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Оклад денежного содержания</td>
                    <td>45000</td>
                  </tr>
                  <tr>
                    <td>Понижающий коэффициент (0,8547)</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>% за стаж службы (0,59)</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Итого</td>
                    <td style="font-weight: bold;">6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}