{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <h3 class="text-center text-dark mb-1">
      {% block title %}Модуль Rewriter{% endblock %}
    </h3>
  </div>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
          <h4 class="fw-lighter text-center text-primary mt-2 mb-2">
            доступность сервиса по API -
              {% if status == 200 %}
                <i class="far fa-check-circle text-success"></i>
              {% else %}
                <i class="far fa-times-circle text-danger"></i>
              {% endif %}
            <br>
          </h4>
          <div class="row mb-3">
            <div class="col">
              <small class="form-text">Параметры:</small>
            </div>
            <div class="input-group">
              <span class="text-secondary text-bg-light input-group-text">{{ form.temperature.label }}</span>
              {{ form.temperature(class="form-control", type="number", min="0", max="1.00", step="0.05") }}
              <span class="text-secondary text-bg-light input-group-text">{{ form.top_k.label }}</span>
              {{ form.top_k(class="form-control", type="number", min="0", max="100", step="5") }}
              <span class="text-secondary text-bg-light input-group-text">{{ form.top_p.label }}</span>
              {{ form.top_p(class="form-control", type="number", min="0", max="1.00", step="0.05") }}
            </div>
            <div class="input-group">
              <span class="text-secondary text-bg-light input-group-text">{{ form.repetition_penalty.label }}</span>
              {{ form.repetition_penalty(class="form-control", type="number", min="0", max="10", step="0.1") }}
              <span class="text-secondary text-bg-light input-group-text">{{ form.num_return_sequences.label }}</span>
              {{ form.num_return_sequences(class="form-control", type="number", min="1", max="20", step="1") }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  {{ form.rewriter_text.label(class="text-center text-primary m-0 fw-bold") }}
                </div>
                <div class="card-body">
                  {{ form.rewriter_text(class="form-control", rows="8", value=field_data) }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              {{ form.do_rewrite(class="btn btn-info link-light", type="submit", style="width: 100%;font-weight: bold;border-style: none;") }}
            </div>
          </div>
          {% if text_all %}
            <div>
              <a class="btn btn-light btn-sm border rounded-pill shadow-sm" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button">
                Все версии
              </a>
              <div class="collapse" id="collapse-1">
                <div>
                {% for paragraph in text_all %}
                <p style="white-space: pre-line; text-align: justify; padding-left: 7px;">{{ "\n".join(paragraph) }}</p>
                <p></p>
                {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          {% if text %}
            <div class="table-responsive">
              <table class="table my-0" id="dataTable">
                {% for score_method in text %}
                  <thead>
                    <tr>
                      <th>Метод оценки качества - {{ score_method }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for paragraph in text.get(score_method) %}
                      <tr>
                        <td style="text-align: justify;">{{ paragraph }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
          {% endif %}
          {% if error %}
            {{ error }}
          {% endif %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}