<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Расширения Апекс-ВУЗ">

    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='bootstrap5/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicons/site.webmanifest')}}">
  </head>

<body class="text-center">
    
<main class="form-signin">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>
    <div class="form-floating">
        {{ form.username(class="form-control") }}
      <label>{{ form.username.label }}</label>
          {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </div>
    <div class="form-floating">
      {{ form.password(class="form-control") }}
      <label>{{ form.password.label }}</label>
          {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
    </div>
    {% if error %}
       <div class="mb-3 fw-normal text-danger">
           {{ error }}
   </div>
    {% endif %}

    <div class="checkbox mb-3">
      <label>
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </label>
    </div>
    {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
  </form>

  <hr>
   <div class="mb-3 fw-normal">
     <a href="/">Вернуться на главную</a>
   </div>
</main>

    <script src="{{url_for('static', filename='bootstrap5/js/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>