{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <h3 class="text-center text-dark mb-1">
      {% block title %}{{ title }}{% endblock %}
    </h3>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="card shadow mb-2">
            <div class="card-header py-3">
              <p class="text-center text-primary m-0 fw-bold" id="addons_label">Роль (группа) пользователя</p>
            </div>
            <div class="card-body" style="padding-top: 8px;">
              {{ form.slug.label(class="text-center text-primary m-0 fw-bold", id=form.slug.label.field_id+"_label") }}
              {{ form.slug(class="form-control", id=form.slug.label.field_id) }}
              {% for error in form.slug.errors %}
                <span style="color: var(--bs-danger);">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="card-body" style="padding-top: 8px;">
              {{ form.name.label(class="text-center text-primary m-0 fw-bold", id=form.name.label.field_id+"_label") }}
              {{ form.name(class="form-control", id=form.name.label.field_id) }}
              {% for error in form.name.errors %}
                <span style="color: var(--bs-danger);">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="card-body" style="padding-top: 8px;">
              Права доступа:
              {% for item in form %}
                {% if item.label.field_id.startswith('permission_') %}
                  <div class="form-check form-switch">
                    {{ item(class="form-check-input", type="checkbox", checked=item.data, id=item.label.field_id) }}
                    {{ item.label(class="form-check-label", for=item.label.field_id) }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              {{ form.submit(class="btn btn-primary link-light", id="roles_edit", style="width: 100%;font-weight: bold;") }}
            </div>
          </div>
          {% if form.form_errors %}
            <span id="error" class="text-danger" style="color: var(--bs-danger);">{{ form.form_errors }}</span>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}