{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h3 class="text-dark mb-1" style="text-align: center;">{{ title }}</h3>
  </div>
  <section class="clean-block" style="padding-bottom: 0;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Код</th>
                  <th>Название</th>
                  <th>Права доступа</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
              {% for role in paginated_data.items %}
                <tr>
                  <td class="text-center">{{ role.id }}</td>
                  <td class="text-center">{{ role.slug }}</td>
                  <td class="text-center">{{ role.name }}</td>
                  <td class="text-left">{% for perm in role.permissions|sort %}{{ config.PERMISSION_DESCRIPTIONS.get(perm.slug)}}<br>{% endfor %}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-sm" role="group">
                      <a class="btn btn-secondary" role="button" href="{{ url_for("auth.roles_edit", id_=role.id) }}">Редактировать</a>
                      <a class="btn btn-danger" role="button" href="{{ url_for("auth.roles_delete", id_=role.id) }}">Удалить</a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <a class="btn btn-primary btn-sm" role="button" href="{{ url_for("auth.roles_add") }}">Добавить роль</a>
              </div>
              <div class="col">
                {% if paginated_data.pages > 1 %}
                  {% block pagination %}
                    {% include "common/pagination.html" %}
                  {% endblock %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}