{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <h3 class="text-center text-dark mb-1"><span style="color: rgb(33, 37, 41);">
    {% block title %}Отчет о нагрузке{% endblock %}</span>
  </h3>
</div>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <div class="mb-2">
          {{ form.department.label(class="text-dark") }}
          {{ form.department(class="form-select") }}
        </div>
        <div class="row">
          <div class="col-md-3">
            {{ form.year.label(class="text-dark") }}
            {{ form.year(class="form-select") }}
          </div>
          <div class="col-md-5">
            {{ form.month.label(class="text-dark") }}
            {{ form.month(class="form-select") }}
          </div>
          <div class="col-md-4 col-md-4">
            <label class="text-dark" for="load_report">Отчет</label>
            {{ form.load_report(class="btn btn-primary", type="submit", style="background: #008751;width: 100%;border-style: none;") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}