{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <h3 class="text-center text-dark mb-1">
      {% block title %}Строевая записка личного состава{% endblock %}
    </h3>
  </div>
  <form method="post">
    {{ form.hidden_tag() }}
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-md-7 col-xl-4">
            {{ form.document_date(class="form-control form-control-lg", onchange="form.submit()") }}
          </div>
        </div>
        <!-- Постоянный состав -->
        <div class="row justify-content-center">
          <div class="col" style="height: 28.0469px;">
            <h4 class="text-center text-black">Постоянный состав</h4>
          </div>
        </div>
        {% if document_stable_status %}
          <div class="row justify-content-center">
            <div class="col" style="height: 24px;">
              <p class="text-center">
              Статус документа - <b>{{ document_stable_status }}</b>
              <a href="{{ url_for('staff.staff_stable_load', date=date) }}" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
              </p>
            </div>
          </div>
          {% if staff_stable_data.get("departments_by_type") %}
            <div class="row justify-content-center">
              <div class="col-md-10 col-xl-8">
                <div class="row row-cols-1 row-cols-sm-3 justify-content-center">
                  <div class="col text-center">
                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                      <div class="bs-icon-md bs-icon-circle bs-icon-primary text-center d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-vcard-fill text-center">
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"></path>
                        </svg>
                      </div>
                      <div class="text-center px-3">
                        <h4 class="fw-bold text-center text-dark mb-0">{{ staff_stable_data.get("staff_total") }}</h4>
                        {% if military_data %}
                          <h4 class="fw-bold text-center text-primary mb-0">({{ military_data.get("staff_military_total") }} атт)</h4>
                        {% endif %}
                        <p class="text-center text-dark mb-0">По списку</p>
                      </div>
                    </div>
                  </div>
                  <div class="col text-center">
                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                      <div class="bs-icon-md bs-icon-circle bs-icon-primary text-center d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill-up text-center">
                          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                          <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"></path>
                        </svg>
                      </div>
                      <div class="text-center px-3">
                        <h4 class="fw-bold text-center text-dark mb-0">{{ staff_stable_data.get("staff_stock") }}</h4>
                        {% if military_data %}
                          <h4 class="fw-bold text-center text-primary mb-0">({{ military_data.get("staff_military_stock") }} атт)</h4>
                        {% endif %}
                        <p class="text-center text-dark mb-0">В строю</p>
                      </div>
                    </div>
                  </div>
                  <div class="col text-center">
                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                      <div class="bs-icon-md bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill-dash">
                          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                          <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"></path>
                        </svg>
                      </div>
                      <div class="px-3">
                        <h4 class="fw-bold text-dark mb-0">{{ staff_stable_data.get("staff_absence") }}</h4>
                        {% if military_data %}
                          <h4 class="fw-bold text-center text-primary mb-0">({{ military_data.get("staff_military_absence") }} атт)</h4>
                        {% endif %}
                        <p class="text-dark mb-0">Отсутствуют</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if staff_stable_data.get("staff_absence") %}
              <div class="row justify-content-center">
                <div class="col-md-10 col-xl-8">
                  <div class="table-responsive">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Причины отсутствия</th>
                          <th>Кол-во</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for absence in staff_stable_data.get("absence_types") %}
                          <tr>
                            <td>{{ busy_types.get(absence) }}</td>
                            <td>{{ staff_stable_data["absence_types"][absence] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% else %}
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 mt-3">
              <h5 class="text-center text-black">Нет данных</h5>
            </div>
          </div>
        {% endif %}
        <!-- Переменный состав -->
        <div class="row justify-content-center">
          <div class="col">
            <h4 class="text-center text-black">Переменный состав</h4>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-xl-8">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th></th>
                    <th class="text-center">
                      {{ config.DAYTIME_NAME.get(config.DAYTIME_MORNING) }}<span>&nbsp;</span>
                      <span>
                        <a href="{{ url_for('staff.staff_various_load', date=date, daytime=config.DAYTIME_MORNING) }}" target="_blank">
                          <i class="fas fa-check-circle text-success"></i>
                        </a>
                      </span>
                    </th>
                    <th class="text-center">
                      {{ config.DAYTIME_NAME.get(config.DAYTIME_DAY) }}<span>&nbsp;</span>
                      <span>
                        <a href="{{ url_for('staff.staff_various_load', date=date, daytime=config.DAYTIME_DAY) }}" target="_blank">
                          <i class="fas fa-minus-circle text-warning"></i>
                        </a>
                      </span>
                    </th>
                    <th class="text-center">
                      {{ config.DAYTIME_NAME.get(config.DAYTIME_EVENING) }}<span>&nbsp;</span>
                      <span>
                        <a href="{{ url_for('staff.staff_various_load', date=date, daytime=config.DAYTIME_EVENING) }}" target="_blank">
                          <i class="fas fa-minus-circle text-warning"></i>
                        </a>
                      </span>
                    </th>
                  </tr>
                </thead>
{#                <tbody>#}
{#                  <tr>#}
{#                    <td>По списку</td>#}
{#                    <td class="text-center">456</td>#}
{#                    <td class="text-center">456</td>#}
{#                    <td class="text-center">456</td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <td>В строю</td>#}
{#                    <td class="text-center">345</td>#}
{#                    <td class="text-center">234</td>#}
{#                    <td class="text-center">100</td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <td>Отсутствуют</td>#}
{#                    <td class="text-center">123</td>#}
{#                    <td class="text-center">345</td>#}
{#                    <td class="text-center">356</td>#}
{#                  </tr>#}
{#                </tbody>#}
              </table>
            </div>
          </div>
        </div>
      <!-- Постоянный состав: подразделения -->
      {% if document_stable_status %}
        {% if staff_stable_data.get("departments_by_type") %}
          <div class="row justify-content-center">
            <div class="col">
              <h4 class="text-center text-black">Сведения по подразделениям</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8">
              <div class="table-responsive">
                <table class="table table-sm table-bordered">
                  {% for department_type in department_types %}
                    <thead>
                      <tr>
                        <th class="table-dark text-uppercase text-center" colspan="3">{{ department_type }}</th>
                      </tr>
                    </thead>
                    {% if staff_stable_data["departments_by_type"].get(department_type) %}
                      {% for department in staff_stable_data["departments_by_type"].get(department_type) %}
                        <thead>
                          <tr>
                            <th class="table-primary text-center" colspan="3">{{ department.get("name") }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="fw-bold text-center">По списку</td>
                            <td class="fw-bold text-center">{{ department.get("total") }}</td>
                            <td class="text-center"></td>
                          </tr>
                          <tr>
                            <td class="fw-bold text-center">В строю</td>
                            <td class="fw-bold text-center">{{ department.get("total") - department.get("total_absence") }}</td>
                            <td class="text-center"></td>
                          </tr>
                          <tr>
                            <td class="fw-bold text-center">Отсутствуют</td>
                            <td class="fw-bold text-center">{{ department.get("total_absence") }}</td>
                            <td class="text-center"></td>
                          </tr>
                          {% for absence in department.get("absence") %}
                            {% if department["absence"][absence] %}
                              <tr>
                                <td class="text-center">{{ busy_types.get(absence) }}</td>
                                <td class="text-center">{{ department["absence"][absence].values()|count }}</td>
                                <td class="text-center">{{ ', '.join(department["absence"][absence].values()) }}</td>
                              </tr>
                            {% endif %}
                          {% endfor %}
                        </tbody>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8 mb-2">
              {{ form.make_report(class="btn btn-primary fw-bold") }}
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </form>
{% endblock %}