SECRET_KEY='some secret key'
APEKS_URL='your url here'
APEKS_TOKEN='your token here'

ORGANIZATION_NAME='Название организации'

LDAP_AUTH='false'
AD_DOMAIN='domain'
AD_SERVER='host'
AD_SEARCH_TREE='dc=dc,dc=dc'

MONGO_DB_USER='root'
MONGO_DB_PASS='example'
MONGO_DB_URL='localhost:27017'
MONGO_DB_NAME='organization_staff'
MONGO_DB_AUTH_SOURCE:='admin'
MONGO_DB_AUTH_MECHANISM='DEFAULT'
