alembic==1.10.2
aiogram==2.25.1
asgiref==3.6.0
Flask==2.2.3
Flask-Login==0.6.2
Flask-WTF==1.1.1
openpyxl==3.1.2
python-docx~=0.8.11
python-dotenv==1.0.0
pytest==7.2.2
pytest-asyncio==0.21.0
pytest-httpx==0.21.3
icalendar==5.0.4
pytz==2023.2
httpx==0.23.3
phpserialize~=1.3
SQLAlchemy==1.4.46
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
Werkzeug==2.2.3
