alembic==1.13.1
aiogram==2.25.1
Flask==3.0.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
openpyxl==3.1.2
python-docx==1.1.0
python-dotenv==1.0.1
pytest==7.4.4
pytest-asyncio==0.23.4
pytest-httpx==0.28.0
icalendar==5.0.11
pytz==2023.4
httpx==0.26.0
phpserialize~=1.3
SQLAlchemy==2.0.25
Flask-SQLAlchemy==3.1.1
WTForms==3.1.2
WTForms-SQLAlchemy==0.4.1
Werkzeug==3.0.1
ldap3~=2.9.1
pymongo~=4.6.1