<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="row mb-3 gy-3">
      <div class="col-xl-8">
        <label class="form-label">{{ form.edu_spec.label }}</label>
        {{ form.edu_spec (class="form-select form-select-ld") }}
      </div>
      <div>
        <input type="submit" name="spec_choose" value="Выбор" class="btn btn-secondary">
      </div>
    </div>

    {% if edu_spec %}
    <div class="row mb-3 gy-3">
      <div class="col-xl-8">
        <label class="form-label">{{ form.edu_plan.label }}</label>
        {{ form.edu_plan(class="form-select form-select-ld") }}
      </div>
    </div>

    <input type="submit" name="plan_choose" value="Выбор" class="btn btn-secondary">

    {% endif %}
</form>