{% extends 'base.html' %}
{% block content %}
<main class="form-signin d-grid col-xl-4">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>
    <div class="mb-3 form-floating" >
      {{ form.username(class="form-control") }}
      <label>{{ form.username.label }}</label>
      {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="mb-3 form-floating">
      {{ form.password(class="form-control") }}
      <label>{{ form.password.label }}</label>
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
      {% if error %}
        <div class="mb-3 fw-normal text-danger">
          {{ error }}
        </div>
      {% endif %}
    <div class="checkbox mb-3">
      <label>
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </label>
    </div>
    {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
  </form>
</main>
{% endblock %}