<form method="post">
  {{ form.hidden_tag() }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <div class="mb-2">
          {{ form.edu_spec.label(class="text-dark") }}
          {{ form.edu_spec(class="form-select") }}
        </div>
        <div class="mb-4">
          {{ form.spec_choose(class="btn btn-secondary border-0") }}
        </div>
        {% if edu_spec %}
          <div class="mb-2">
            {{ form.edu_plan.label(class="text-dark") }}
            {{ form.edu_plan(class="form-select") }}
          </div>
          <div class="mb-4">
            {{ form.plan_choose(class="btn btn-secondary border-0") }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</form>