{% extends 'base.html' %}

{% block content %}
    <h1 class="display-6">{% block title %} Загрузка компетенций в учебный план {% endblock %}</h1>
    <p></p>


<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row mb-3 gy-3">
      <div class="col-xl-8">
        <label class="form-label">{{ form.edu_spec.label }}</label>
        {{ form.edu_spec (class="form-select form-select-ld") }}
      </div>
      <div>
        <input type="submit" name="spec_choose" value="Выбор" class="btn btn-secondary">
      </div>
    </div>

    {% if edu_spec %}
        <div class="row mb-3 gy-3">
      <div class="col-xl-8">
        <label class="form-label">{{ form.edu_plan.label }}</label>
        {{ form.edu_plan (class="form-select form-select-ld") }}
      </div>
      <div>
        <input type="submit" name="plan_choose" value="Выбор" class="btn btn-secondary">
      </div>
    </div>
    {% endif %}
    {% if edu_plan %}

    <div class="row mb-3 gy-3">
        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_delete" value="Удаление компетенций из плана" class="btn btn-danger">
        </div>

        <form enctype=multipart/form-data class="d-grid col-md-7">
            <div class="mb-3 col-xl-8">
                <label for="formFile" class="form-label">Выберите файл для загрузки</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </form>

        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_check" value="Проверка файла" class="btn btn-secondary">
        </div>

        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_load" value="Загрузка компетенций из файла" class="btn btn-success">
        </div>
    </div>


    {% else %}
    {% endif %}
</form>
    {% endblock %}