{% extends 'base.html' %}

{% block content %}
    <h1 class="display-6">
        {% block title %} Загрузка компетенций в учебный план {% endblock %}
    </h1>

    <h2 class="h5 mt-3 fw-normal"><b>{{ plan_name }}</b></h2>

<form action="" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}

    <div class="row mt-3 gy-3">
        <div class="d-grid col-xl-4">
            <input type="submit" name="comp_load_temp" value="Шаблон" class="btn btn-warning">
        </div>
        <div class="d-grid col-xl-4">
            <input type="submit" name="comp_delete" value="Полная очистка" class="btn btn-danger">
        </div>
    </div>
    <div class="row mb-4 gy-3">
        <div class="d-grid col-xl-4 text-center text-wrap">
            (Скачать образец заполнения файла для загрузки)
        </div>
        <div class="d-grid col-xl-4 text-center text-wrap">
            (Удаление компетенций, связей и их содержимого из рабочих программ)
        </div>
    </div>

    <div class="row mb-3 gy-3">
        <div class="col-xl-8">
            <label for="formFile" class="form-label">Выберите файл Excel для загрузки</label>
            <input class="form-control" type="file" name="comp_file" id="formFile">
        </div>
    </div>
    <div class="row mb-3 gy-3">
        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_check" value="Проверка файла" class="btn btn-secondary">
        </div>
    </div>

    {% if comps %}
        <table class="col-lg-7 gy-5 table">
        <tr>
            <td></td>
            <td><b>Компетенции для загрузки:</b></td>
        </tr>
        {% for comp in comps %}
          <tr class="">
            <td><span style="white-space: pre-line">{{ comp[0] }}</span></td>
            <td><span style="white-space: pre-line">{{ comp[1] }}</span></td>
          </tr>
        {% endfor %}
        </table>
    {% endif %}

    <div class="row mb-3 gy-3">
        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_load" value="Загрузка компетенций" class="btn btn-success">
        </div>
    </div>



    {% if plan_comp %}
        <table class="col-lg-7 mt-5 gy-5 table">
            <tr class="table-primary">
                <td></td>
                <td><b>Компетенций в текущем плане (очистить перед загрузкой!)</b></td>
            </tr>

        <tr class="table-success">
            <td>Код</td>
            <td>Содержание</td>
        </tr>
        {% for comp in plan_comp %}
          <tr class="">
            <td><span style="white-space: pre-line">{{ comp['code'] }}</span></td>
            <td><span style="white-space: pre-line">{{ comp['description'] }}</span></td>
          </tr>
        {% endfor %}
        </table>
    {% else %}
    <div class="d-grid mt-5 gy-5 col-xl-8">
        <div class="alert alert-primary text-center" role="alert">
          Текущий план не содержит компетенций
        </div>
    </div>
    {% endif %}

    {% if data %}
    {{ data }}
    {% endif %}

</form>
    {% endblock %}