{% extends 'base.html' %}

{% block content %}
    <h1 class="display-6">{% block title %} Загрузка компетенций в учебный план {% endblock %}</h1>
    <p></p>


<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row mb-3 gy-3">
      <div class="col-xl-8">
        <label class="form-label">{{ form.edu_spec.label }}</label>
        {{ form.edu_spec (class="form-select form-select-ld") }}
      </div>
      <div>
        <input type="submit" name="spec_choose" value="Выбор" class="btn btn-secondary">
      </div>
    </div>

    {% if edu_spec %}
        <div class="row mb-3 gy-3">
      <div class="col-xl-8">
        <label class="form-label">{{ form.edu_plan.label }}</label>
        {{ form.edu_plan (class="form-select form-select-ld") }}
      </div>
      <div>
        <input type="submit" name="plan_choose" value="Выбор" class="btn btn-secondary">
      </div>
    </div>
    {% endif %}
    {% if edu_plan %}

    <div class="row mb-3 gy-3">
        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_delete" value="Удаление компетенций из плана" class="btn btn-danger">
        </div>

            <div class="mb-3 col-xl-8">
                <label for="formFile" class="form-label">Выберите файл для загрузки</label>
                <input class="form-control" type="file" value="comp_file" id="formFile">
            </div>

        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_check" value="Проверка файла" class="btn btn-secondary">
        </div>

        <div class="d-grid col-xl-8">
            <input type="submit" name="comp_load" value="Загрузка компетенций из файла" class="btn btn-success">
        </div>
    </div>


    {% else %}
    {% endif %}

    {% if plan %}
        <table class="col-lg-7 mt-5 gy-5 table">
        <tr class="table-success">
            <td></td>
            <td><span>Компетенции в выбранном плане</span></td>
        </tr>
            {% for comp in plan %}
              <tr class="">
                <td><span style="white-space: pre-line">{{ comp['code'] }}</span></td>
                <td><span style="white-space: pre-line">{{ comp['description'] }}</span></td>
              </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if data %}
    {{ data }}
    {% endif %}

</form>
    {% endblock %}