{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <h3 class="text-center text-dark mb-1">{% block title %}Экспорт индикаторов по дисциплинам{% endblock %}</h3>
</div>
<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8 mb-3">
        {{ form.file.label(class="form-label", style="color: var(--bs-dark);") }}
        {{ form.file(class="form-control", style="border-color: var(--bs-gray-400);") }}
      </div>
      <div class="col-md-10 col-xl-8 mb-3">
        {{ form.file_check(class="btn btn-secondary", style="width: 100%;font-weight: bold;border-style: none;") }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        {% if indicator_errors %}
          <div class="alert alert-danger text-center py-1 mb-1" role="alert" style="opacity: 0.80;">
            <h6 class="alert-heading fw-bold text-center">Индикаторы файла, которые не удалось обработать:<br> (неверный код или отсутствует соответствующая компетенция в плане)</h6>
            {% for indicator in indicator_errors %}
              <span>{{ indicator }}<br></span>
            {% endfor %}
          </div>
        {% else %}
          {% if report_data %}
            <div class="alert alert-success text-center py-1 mb-3" role="alert" style="opacity: 0.80;">
              <h6 class="alert-heading fw-bold text-center">Загруженный файл:<br>{{ filename }}</h6>
              <span>Количество учебных дисциплин - {{ report_data|length }}</span>
            </div>
            {{ form.generate_report(class="btn btn-success link-light mt-2", style="background: #008751;width: 100%;font-weight: bold;border-style: none;") }}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</form>
{% endblock %}




