{% extends 'base.html' %}

{% block content %}
    <h1 class="display-6">
        {% block title %} Матрица компетенций (простая) {% endblock %}
    </h1>
    <div class="d-grid col-xl-8">
    <div class="h4 mt-2 mb-4 text-white text-center bg-dark fw-normal"><b>{{ plan_name }}</b></div>
    </div>

    {% if plan_relations %}
        <div class="d-grid col-xl-8">
            <div class="alert alert-primary text-center" role="alert">
              План содержит связи дисциплин и компетенций (перед загрузкой их необходимо очистить)
            </div>
        </div>

    <div class="row">
        <div class="d-grid col-xl-4">
          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Показать связи
          </button>
        </div>
        </div>
        <div class="collapse col-xl-8" id="collapseExample">
          <div class="card card-body">
              {% for relation in plan_relations %}
              <b>{{ relation }}</b>
              <span style="white-space: pre-line">{{ "\n".join(plan_relations[relation]) }}</span>
              {% endfor %}
          </div>
        </div>


    {% else %}
        <div class="d-grid col-xl-8">
            <div class="alert alert-primary text-center" role="alert">
              Текущий план не содержит связей
            </div>
        </div>
    {% endif %}

<form action="" enctype="multipart/form-data" method="post">
    {{ form.hidden_tag() }}

    <div class="row mt-3 gy-3">
        <div class="d-grid col-xl-4">
            <input type="submit" name="mtrx_download" value="Сформировать матрицу" class="btn btn-primary bg-opacity-75">
        </div>
        <div class="d-grid col-xl-4">
            <input type="submit" name="mtrx_delete" value="Удаление связей" class="btn btn-danger bg-opacity-75">
        </div>
    </div>
    <div class="row mb-4 gy-3">
        <div class="d-grid col-xl-4 text-center text-wrap">
            (Скачать текущую матрицу в формате Excel)
        </div>
        <div class="d-grid col-xl-4 text-center text-wrap">
            (Удаление связей дисциплин и компетенций, и их содержимого из рабочих программ)
        </div>
    </div>

    <div class="row mb-3 gy-3">
        <div class="col-xl-8">
            <label for="formFile" class="form-label">Выберите файл Excel для загрузки</label>
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
    </div>
    <div class="row mb-3 gy-3">
        <div class="d-grid col-xl-8">
            <input type="submit" name="mtrx_sim_check" value="Проверка файла" class="btn btn-secondary">
        </div>
    </div>


    {% if comp_code_errors %}
        <div class="d-grid col-xl-8">
            <div class="alert alert-danger text-center" role="alert">
                <b>Коды компетенций файла, которые не найдены в плане</b><br>
                {{ ', '.join(comp_code_errors) }}
            </div>
        </div>
    {% endif %}

    {% if report %}
    <div class="row mb-3 gy-3">
        <div class="d-grid col-xl-8">
        <table class="table">
        <tr>
            <td><b>Связи из файла:</b></td>
            <td></td>
        </tr>
        {% for disc in report %}
          <tr>
            <td class="col-xl-5"><span style="white-space: pre-line">{{ disc }}</span></td>
              {% if report[disc] == ['None'] %}
            <td class="text-danger col-xl-3"><span style="white-space: pre-line"><b>Нет связей в файле</b></span></td>
              {% elif not report[disc] %}
            <td class="text-danger col-xl-3"><span style="white-space: pre-line"><b>Отсутствует в файле</b></span></td>
              {% else %}
            <td class="col-xl-3"><span style="white-space: pre-line">{{ ', '.join(report[disc]) }}</span></td>
              {% endif %}
          </tr>
        {% endfor %}
        </table>
    </div>
    </div>
    {% endif %}


    <div class="row mb-3 gy-3">
        <div class="d-grid col-xl-8">
            <input type="submit" name="mtrx_sim_load" value="Загрузка связей" class="btn btn-success">
        </div>
    </div>

</form>
    {% endblock %}