{% extends 'base.html' %}
{% block content %}
<h1 class="display-6">
  {% block title %} Редактирование поля рабочей программы {% endblock %}
</h1>

<div class="d-grid col-xl-8">
  <div class="h4 mt-2 mb-4 text-white text-center bg-dark fw-normal">
    <b>{{ wp_name }}</b>
  </div>
</div>

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="row mb-2">
    <div class="col-xl-8">
      <label class="form-label">{{ form.wp_fields.label }}</label>
      {{ form.wp_fields(class="form-select form-select-ld") }}
    </div>
  </div>

  {{ form.fields_data (class="btn btn-secondary mb-2") }}

  <div class="row mt-4 mb-2">
    <div class="col-xl-8">
      <div class="input-group">
        <span class="input-group-text">{{ form.wp_field_edit.label }}</span>
        {{ form.wp_field_edit(class="form-control", rows="10", value=wp_field_data) }}
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-3 gy-3">
    <div class="d-grid col-xl-8">
      {{ form.field_update (class="btn btn-warning") }}
    </div>
  </div>
  {{ load_data }}
</form>
{% endblock %}
