<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apeks-VUZ extensions">

    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='bootstrap5/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/sidebars.css')}}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicons/site.webmanifest')}}">

  <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="apeks-ext" viewBox="0 0 16 16">
        <title>Apeks-VUZ Extension</title>
      <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
      </symbol>
      <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
      </symbol>
      <symbol id="schedule" viewBox="0 0 16 16">
        <path d="M9.402 10.246c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"/>
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-4.118 9.79c1.258 0 2-1.067 2-2.872 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684c.047.64.594 1.406 1.703 1.406zm-2.89-5.435h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675V7.354z"/>
      </symbol>
      <symbol id="plans" viewBox="0 0 16 16">
        <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z"/>
        <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z"/>
      </symbol>
      <symbol id="programs" viewBox="0 0 16 16">
        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
      </symbol>
      <symbol id="book" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
      </symbol>
  </svg>

<main>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-secondary text-decoration-none">
      <svg class="bi me-3" width="32" height="32"><use xlink:href="#apeks-ext"/></svg>
      <span class="fs-4">Сервисы для <br> Апекс-ВУЗ</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">

      <li class="nav-item">
         {% if active == "index" %}
           <a href="/" class="nav-link active text-white" aria-current="page">
         {% else %}
           <a href="/" class="nav-link text-secondary" aria-current="page">
         {% endif %}
         <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
         Главная</a>
      </li>

      <li>
         {% if active == "schedule" %}
           <a href="{{ url_for('schedule.schedule') }}" class="nav-link active text-white" aria-current="page">
         {% else %}
           <a href="{{ url_for('schedule.schedule') }}" class="nav-link text-secondary" aria-current="page">
         {% endif %}
         <svg class="bi me-2" width="16" height="16"><use xlink:href="#schedule"/></svg>
         Расписание</a>
      </li>

      {% if current_user.is_authenticated %}

<!--      <li>-->
<!--          {% if active == "plans" %}-->
<!--            <a href="{{ url_for('plans.competencies_load') }}" class='nav-link active text-white rounded collapsed' aria-current="page">-->
<!--          {% else %}-->
<!--            <a href="{{ url_for('plans.competencies_load') }}" class="nav-link text-secondary rounded collapsed" aria-current="page">-->
<!--          {% endif %}-->
<!--          <svg class="bi me-2" width="16" height="16"><use xlink:href="#plans"/></svg>-->
<!--          Учебные планы</a>-->
<!--      </li>-->
<!--         {% if active == "plans" %}-->
<!--             <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                 <li><a href="{{ url_for('plans.competencies_load') }}" class="text-white rounded">Загрузка компетенций</a></li>-->
<!--&lt;!&ndash;                 <li><a href="#" class="text-white rounded">Справочник индикаторов</a></li>&ndash;&gt;-->
<!--             </ul>-->
<!--         {% endif %}-->
      {% endif %}

      <li>
          {% if active == "programs" %}
            <a href="{{ url_for('programs.dept_check') }}" class='nav-link active text-white rounded collapsed' aria-current="page">
          {% else %}
            <a href="{{ url_for('programs.dept_check') }}" class="nav-link text-secondary rounded collapsed" aria-current="page">
          {% endif %}
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#programs"/></svg>
          Программы</a>
      </li>
         {% if current_user.is_authenticated %}
         {% if active == "programs" %}
             <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                 <li><a href="{{ url_for('programs.dept_check') }}" class="text-white rounded">Проверка по кафедре</a></li>

                 <li><a href="{{ url_for('programs.dates_update') }}" class="text-white rounded">Обновление дат</a></li>
                 <li><a href="{{ url_for('programs.choose_plan') }}" class="text-white rounded">Значения полей</a></li>
                 {% endif %}
             </ul>
         {% endif %}

<!--        <li>-->
<!--          {% if active == "library" %}-->
<!--            <a href="{{ url_for('library.library') }}" class="nav-link active text-white" aria-current="page">-->
<!--          {% else %}-->
<!--            <a href="{{ url_for('library.library') }}" class="nav-link text-secondary" aria-current="page">-->
<!--          {% endif %}-->
<!--          <svg class="bi me-2" width="16" height="16"><use xlink:href="#book"/></svg>-->
<!--          Библиотека</a>-->
<!--        </li>-->


    </ul>

    <hr>

    {% if current_user.is_anonymous %}
    <div>
      <a href="{{ url_for('auth.login') }}" class="d-flex align-items-center text-white text-decoration-none">
        <img src="{{url_for('static', filename='images/login.png')}}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Войти</strong>
      </a>
    </div>
    {% endif %}

    {% if current_user.is_authenticated %}
     <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="user" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{url_for('static', filename='images/auth.png')}}" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>{{ current_user }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="user">
          <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a></li>
        </ul>
      </div>
    {% endif %}

  </div>

      <div class="b-divider"></div>

      <div class="container-fluid mt-2 overflow-scroll">
      {% block content %} {% endblock %}
    </div>

</main>

    <!-- Optional JavaScript -->
    <script src="{{url_for('static', filename='bootstrap5/js/bootstrap.bundle.min.js')}}"></script>
<!--    <script src="sidebars.js"></script>-->
  </body>
</html>
