<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Apeks-VUZ extensions">
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap5/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sidebars.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid overflow-hidden">
      <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start mt-2 px-3 pt-2 text-white">

            <a href="/" class="d-flex align-items-center mb-3 pb-sm-3 mb-md-0 me-md-auto text-secondary text-decoration-none">
              <i class="fs-1 bi-arrows-fullscreen me-2"></i>
              <span class="fs-5 d-none d-sm-inline">Сервисы для <br> Апекс-ВУЗ</span>
            </a>
            <hr>

            <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">

              <!-- Главная -->
              <li class="nav-item">
                <a href="/" class="nav-link {% if active == 'index' %} text-white {% else %} text-secondary {% endif %} px-sm-0 px-1">
                  <i class="fs-4 bi-house-door"></i><span class="ms-1 d-none d-sm-inline">Главная</span>
                </a>
              </li>

              <!-- Пользователи -->
              {% if current_user.is_authenticated and current_user.role in (config.ROLE_ADMIN, ) %}
                <li>
                  <a href="#admin-submenu" data-bs-toggle="collapse" class="nav-link {% if active == 'admin' %} text-white {% else %} text-secondary {% endif %} px-sm-0 px-1">
                    <i class="fs-4 bi-wrench"></i><span class="ms-1 d-none d-sm-inline">Пользователи</span> </a>
                  <ul class="collapse {% if active == 'admin' %} show {% endif %} nav flex-column ms-1 small" id="admin-submenu" data-bs-parent="#menu">
                    <li class="w-100">
                      <a href="{{ url_for('auth.register') }}" class="nav-link {% if active == 'admin' %} text-white {% else %} text-secondary {% endif %} px-3"><span class="d-none d-sm-inline">Регистрация</span></a>
                    </li>
                    <li>
                      <a href="{{ url_for('admin.index') + 'user' }}" class="nav-link {% if active == 'admin' %} text-white {% else %} text-secondary {% endif %} px-3"><span class="d-none d-sm-inline">Управление</span></a>
                    </li>
                  </ul>
                </li>
                </span>
              {% endif %}

              <!-- Расписание -->
              <li class="nav-item">
                <a href="{{ url_for('schedule.schedule') }}" class="nav-link {% if active == 'schedule' %} text-white {% else %} text-secondary {% endif %} px-sm-0 px-1">
                  <i class="fs-4 bi-calendar-date"></i><span class="ms-1 d-none d-sm-inline">Расписание</span>
                </a>
              </li>

            </ul>

            {% if current_user.is_anonymous %}
              <div class="py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                <a href="{{ url_for('auth.login') }}" class="d-flex align-items-center text-white text-decoration-none" aria-expanded="false">
                  <i class="fs-3 bi-box-arrow-in-right"></i>
                  <span class="d-none d-sm-inline mx-1">Войти</span>
                </a>
              </div>
            {% endif %}

            {% if current_user.is_authenticated %}
              <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fs-3 bi-check2-square" style="color: limegreen"></i>
                  <span class="d-none d-sm-inline mx-1"><strong>{{ current_user }}</strong></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                  <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a></li>
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
          <main class="row overflow-auto">
            <div class="col pt-4">
              {% block content %}
              {% endblock %}
            </div>
          </main>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap5/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
