<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Расширения Апекс-ВУЗ - {% block title %}{% endblock %}</title>
    <meta property="og:type" content="website">
    <meta name="description" content="Расширения базовых функций Апекс-ВУЗ">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicons/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/favicons/android-chrome-512x512.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Nunito.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Features-Cards.css') }}">
    <script src="{{ url_for('static', filename='jQuery/jquery.min.js') }}"></script>
  </head>
  <body id="page-top">
    <div id="wrapper">
      <!-- Меню -->
      <nav class="navbar navbar-dark sticky-top align-items-start sidebar sidebar-dark mobile-hid" style="background: #002649;">
        <div class="container-fluid d-flex flex-column p-0">
          <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/" style="opacity: 0.80;">
            <div class="sidebar-brand-icon">
              <i class="fas fa-hands-helping"></i>
            </div>
            <div class="sidebar-brand-text mx-3">
              <span>Сервисы</span>
            </div>
          </a>
          <ul class="navbar-nav text-light" id="accordionSidebar">
            <!-- Главная -->
            <li class="nav-item">
              <a class="nav-link py-2" href="/"><i class="fas fa-home"></i>
                <span>Главная</span>
              </a>
            </li>
            <!-- телефонный справочник -->
            <li class="nav-item text-start">
              <a class="nav-link py-2" href="{{ url_for('phonebook.phonebook') }}">
                <i class="fas fa-phone"></i><span>Телефонный справочник</span>
              </a>
            </li>
            <!-- Расписание -->
            <li class="nav-item text-start">
              <a class="nav-link py-2" href="{{ url_for('schedule.schedule') }}">
                <i class="far fa-calendar-alt"></i><span>Расписание</span>
              </a>
            </li>
            <!-- Отчеты -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link py-2" aria-expanded="true" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#">
                <i class="fas fa-receipt"></i><span>Отчеты</span>
              </a>
              <div class="dropdown-menu text-center py-0">
                <a class="dropdown-item text-center py-1" href="{{ url_for('reports.load_report') }}">Нагрузка по кафедре</a>
                {% if has_permission(config.REPORT_HOLIDAYS_PERMISSION) %}
                  <a class="dropdown-item text-center py-1" href="{{ url_for('reports.holidays_report') }}">Занятость в выходные</a>
                {% endif %}
              </div>
            </li>
            <!-- Строевка -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link py-2" aria-expanded="true" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#">
                <i class="fas fa-user-friends"></i><span>Строевая записка</span>
              </a>
              <div class="dropdown-menu text-center py-0">
                <a class="dropdown-item text-center py-1" href="{{ url_for('staff.staff_info') }}">Общая информация</a>

                <a class="dropdown-item text-center py-1" href="{{ url_for('staff.staff_stable_load') }}">Постоянный состав</a>
                {% if has_permission(config.STAFF_REPORT_PERMISSION) %}
                  <a class="dropdown-item text-center py-1" href="{{ url_for('staff.staff_stable_report') }}">Постоянный состав (отчет)</a>
                {% endif %}
                <a class="dropdown-item text-center py-1" href="{{ url_for('staff.staff_various_load') }}">Переменный состав</a>
                {% if has_permission(config.STAFF_BUSY_TYPES_EDIT_PERMISSION) %}
                  <a class="dropdown-item text-center py-1" href="{{ url_for('staff.staff_data_edit') }}">Справочник</a>
                {% endif %}
              </div>
            </li>
            <!-- Учебные планы -->
            {% if has_permission(config.PLAN_MATRIX_EDIT_PERMISSION) %}
              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link py-2" aria-expanded="true" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#">
                  <i class="fas fa-layer-group"></i><span>Учебные планы</span>
                </a>
                <div class="dropdown-menu text-center py-0">
                  <a class="dropdown-item text-center py-1" href="{{ url_for('plans.competencies_choose_plan') }}">Загрузка компетенций</a>
                  <a class="dropdown-item text-center py-1" href="{{ url_for('plans.matrix_simple_choose_plan') }}">Матрица простая</a>
                  <a class="dropdown-item text-center py-1" href="{{ url_for('plans.matrix_indicator_choose_plan') }}">Матрица с индикаторами</a>
                  <a class="dropdown-item text-center py-1" href="{{ url_for('plans.matrix_indicator_file') }}">Индикаторы по дисциплинам</a>
                </div>
              </li>
            {% endif %}
            <!-- Программы -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link py-2" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#">
                <i class="fas fa-clipboard-list"></i><span>Рабочие программы</span>
              </a>
              <div class="dropdown-menu text-center py-0">
                <a class="dropdown-item text-center py-1" href="{{ url_for('programs.dept_check') }}">Проверка по кафедре</a>
                {% if has_permission(config.PROGRAMS_EDIT_FIELDS_PERMISSION) %}
                  <a class="dropdown-item text-center py-1" href="{{ url_for('programs.dates_update') }}">Обновление дат</a>
                  <a class="dropdown-item text-center py-1" href="{{ url_for('programs.base_template') }}">Базовый шаблон</a>
                {% endif %}
                {% if has_permission(config.PROGRAMS_VIEW_PLAN_INFO_PERMISSION, config.PROGRAMS_EDIT_FIELDS_PERMISSION) %}
                  <a class="dropdown-item text-center py-1" href="{{ url_for('programs.fields_choose_plan') }}">Значения полей</a>
                  <a class="dropdown-item text-center py-1" href="{{ url_for('programs.program_data_choose_plan') }}">Общая информация</a>
                  <a class="dropdown-item text-center py-1" href="{{ url_for('programs.title_pages_choose_plan') }}">Титульные листы</a>
                {% endif %}
              </div>
            </li>
            {% if has_permission(config.LIBRARY_LOAD_SOURCES_PERMISSION, config.LIBRARY_LOAD_INTERNET_LINKS_PERMISSION, config.LIBRARY_LOAD_INFO_SYSTEMS_PERMISSION, config.LIBRARY_LOAD_SCIENCE_PRODUCTS_PERMISSION) %}
              <!-- Обеспечение -->
              <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link py-2" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#">
                  <i class="fas fa-book-open"></i><span>Обеспечение</span>
                </a>
                <div class="dropdown-menu text-center py-0">
                  {% if has_permission(config.LIBRARY_LOAD_SOURCES_PERMISSION) %}
                    <a class="dropdown-item text-center py-1" href="{{ url_for('library.library_choose_plan') }}">Список литературы</a>
                  {% endif %}
                  {% if has_permission(config.LIBRARY_LOAD_INTERNET_LINKS_PERMISSION) %}
                    <a class="dropdown-item text-center py-1" href="{{ url_for('library.library_int_choose_plan') }}">Интернет ресурсы</a>
                  {% endif %}
                  {% if has_permission(config.LIBRARY_LOAD_INFO_SYSTEMS_PERMISSION) %}
                    <a class="dropdown-item text-center py-1" href="{{ url_for('library.library_db_choose_plan') }}">Базы и справочные системы</a>
                  {% endif %}
                  {% if has_permission(config.LIBRARY_LOAD_SCIENCE_PRODUCTS_PERMISSION) %}
                    <a class="dropdown-item text-center py-1" href="{{ url_for('library.library_np_choose_plan') }}">Научная продукция</a>
                  {% endif %}
                </div>
              </li>
            {% endif %}
            <!-- Инструменты -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link py-2" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#">
                <i class="fas fa-tools"></i><span>Инструменты</span>
              </a>
              <div class="dropdown-menu text-center py-0">
                <a class="dropdown-item text-center py-1" href="{{ url_for('tools.payment.payment_tool') }}">Расчет зарплаты/пенсии</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Header -->
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
            <div class="container-fluid">
              <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
                <i class="fas fa-bars"></i>
              </button>
              <h5 class="text-dark mb-0">{{ config.ORGANIZATION_NAME }}<br></h5>
              <ul class="navbar-nav flex-nowrap ms-auto">
                <li class="nav-item dropdown no-arrow">
                  {% if current_user.is_anonymous %}
                    <a class="nav-link" href="{{ url_for('auth.login') }}">
                      <span class="d-none d-lg-inline me-2 text-gray-600 small">Войти</span>
                      <i class="fas fa-user text-warning" style="font-size: 16px;color: var(--bs-green);"></i>
                    </a>
                  {% endif %}
                  {% if current_user.is_authenticated %}
                    <div class="nav-item dropdown no-arrow">
                      <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                        <span class="text-uppercase d-none d-lg-inline me-2 text-gray-600 small">{{ current_user }}</span>
                        <i class="far fa-check-square" style="font-size: 16px;color: var(--bs-green);"></i>
                      </a>
                      <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        {% if has_permission(config.USERS_EDIT_PERMISSION) %}
                          <a class="dropdown-item" href="{{ url_for('auth.users') }}">
                            <i class="fas fa-user-alt fa-sm fa-fw me-2 text-gray-400"></i>Пользователи</a>
                          <a class="dropdown-item" href="{{ url_for('auth.roles') }}">
                            <i class="fas fa-user-alt fa-sm fa-fw me-2 text-gray-400"></i>Роли (группы)</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                          <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>Выйти</a>
                      </div>
                    </div>
                  {% endif %}
                </li>
              </ul>
            </div>
          </nav>
          <!-- Flash сообщения -->
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-xl-8">
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} text-center alert-dismissible" role="alert">
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        <span>{{ message }}<br /></span>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endwith %}
          <!-- Основная часть -->
          {% block content %}
          {% endblock %}
        </div>
        <!-- Footer -->
        <footer class="bg-white sticky-footer" style="padding-top: 4px;padding-bottom: 4px;--bs-body-bg: #f8f9fc;">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span style="font-size: 9.8px;">Copyright © Evgeny Semenov, 2021-2024; Kirill Tsyganov, 2024-2025</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>