{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Экспорт расписания {% endblock %}</h1>

            <div class="col-md-4">
              <label for="department" class="form-label">Выберите кафедру:</label>
              <select class="form-select" id="department" required>
                <option value="">Выбрать...</option>
                  {% for department in departments.values() %}
                  <option>{{form.month}}</option>
                  {% endfor %}
              </select>
<!--              <div class="invalid-feedback">-->
<!--                Пожалуйста выберите кафедру.-->
<!--              </div>-->
            </div>

<!--{{departments}}-->
{% endblock %}