{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Экспорт расписания {% endblock %}</h1>
    <p></p>

    <form action="" method="post">
        {{ form.csrf_token() }}

        <div class="container-fluid">

          <div class="row gy-3">
            <div class="col-md-8">
                <div class="form-label form-label-ld">{{ form.department.label }}</div>
                     {{ form.department (class="form-select form-select-ld") }}
            </div>
          </div>

          <div class="row gy-3">
              <div class="col-md-3">
                  <input type="submit" name="dept_choose" value="Выбор" class="btn btn-secondary">
              </div>
          </div>

        {% if department %}
          <div class="row gy-3">
            <div class="col-6 col-md-2">
                <div class="form-label form-label-ld">{{ form.year.label }}</div>
                {{ form.year (class="form-select form-select-ld") }}
            </div>
            <div class="col-6 col-md-2">
                <div class="form-label form-label-ld">{{ form.month.label }}</div>
                {{ form.month (class="form-select form-select-ld") }}
            </div>
            <div class="col-6 col-md-4">
                <div class="form-label form-label-ld">{{ form.prepod.label }}</div>
                {{ form.prepod (class="form-select form-select-ld") }}
            </div>
          </div>

<!--            <input type="submit" name="ical_exp" value="Экспорт в формате iCal" class="btn btn-secondary">-->
            <input type="submit" name="xlsx_exp" value="Экспорт в формате Excel" class="btn btn-secondary">

          </div>
        {% else %}
        {% endif %}
    {{ error }}
        </div>
    </form>

{% endblock %}