{% extends 'tools/payment/base_list.html' %}
{% block table %}
  <thead>
    <tr>
      <th>id</th>
      <th class="text-start">Название</th>
      <th class="text-start">Значение</th>
      <th class="text-start">Документ</th>
      <th class="text-start">Оклады</th>
      <th class="text-start">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for increase in paginated_data.items %}
      <tr>
        <td>{{ increase.id }}</td>
        <td class="text-start">{{ increase.name }}</td>
        <td class="text-start">{{ increase.value }}</td>
        <td class="text-start">{{ increase.document|safe|truncate(50) }}</td>
        <td class="text-start">{% for rate in increase.rates %}- {{ rate.name|lower }}<br>{% endfor %}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('.increase_edit', id_=increase.id) }}">Редактировать</a>
            <a class="btn btn-danger btn-sm" role="button" href="{{ url_for('.increase_delete', del_id=increase.id) }}">Удалить</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
{% block footer_buttons %}
  <a class="btn btn-primary d-block w-100" role="button" href="{{ url_for('.increase_add') }}">Добавить</a>
  <a class="btn btn-secondary d-block w-100" role="button" href="{{ url_for('.payment_data') }}">Назад</a>
{% endblock %}