{% extends 'common/base_list.html' %}
{% block table %}
  <thead>
    <tr>
      <th>id</th>
      <th class="text-start">Название</th>
      <th class="text-start">Значение</th>
      <th class="text-start">Описание</th>
      <th class="text-start">Документ</th>
      <th class="text-start">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for value in paginated_data.items %}
      <tr>
        <td>{{ value.id }}</td>
        <td class="text-start">{{ value.name }}</td>
        <td class="text-start">{{ value.value }}</td>
        <td class="text-start">{{ value.description|safe|truncate(40) }}</td>
        <td class="text-start">{{ value.document|safe|truncate(40) }}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('.rates_values_edit', id_=value.rate_id, value_id=value.id) }}">Редактировать</a>
            <a class="btn btn-danger btn-sm" role="button" href="{{ url_for('.rates_values_delete', id_=value.rate_id, del_id=value.id) }}">Удалить</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
{% block footer_buttons %}
  <a class="btn btn-primary" role="button" href="{{ url_for('.rates_values_add', id_=rate_id) }}">Добавить</a>
  <a class="btn btn-secondary" role="button" href="{{ url_for('.rates_get') }}">Назад</a>
{% endblock %}