{% extends 'common/base_list.html' %}
{% block table %}
  <thead>
    <tr>
      <th>id</th>
      <th class="text-start">Название</th>
      <th class="text-start">Название выплаты</th>
      <th class="text-start">Используется для расчета</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for rate in paginated_data.items %}
      <tr>
        <td>{{ rate.id }}</td>
        <td class="text-start">{{ rate.name }}</td>
        <td class="text-start">{{ rate.payment_name }}</td>
        <td class="text-start">{% if rate.salary %}- зарплата<br />{% endif %}{% if rate.pension %}- пенсия{% endif %}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('.rates_edit', id_=rate.id) }}">Редактировать</a>
            <a class="btn btn-warning btn-sm" role="button" href="{{ url_for('.rates_values_get', id_=rate.id) }}">Значения</a>
            <a class="btn btn-danger btn-sm" role="button" href="{{ url_for('.rates_delete', del_id=rate.id) }}">Удалить</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
{% block footer_buttons %}
  <a class="btn btn-primary" role="button" href="{{ url_for('.rates_add') }}">Добавить</a>
  <a class="btn btn-secondary" role="button" href="{{ url_for('.payment_data') }}">Назад</a>
{% endblock %}