{% extends 'common/base_list.html' %}
{% block table %}
  <thead>
    <tr>
      <th>id</th>
      <th class="text-start">Надбавка</th>
      <th class="text-start">Значение</th>
      <th class="text-start">Название выплаты</th>
      <th class="text-start">Описание</th>
      <th class="text-start">Документ</th>
      <th class="text-start">Оклады</th>
      <th class="text-start">Используется для расчета</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for addon in paginated_data.items %}
      <tr>
        <td>{{ addon.id }}</td>
        <td class="text-start">{{ addon.name }}</td>
        <td class="text-start">{{ addon.value }}</td>
        <td class="text-start">{{ addon.payment_name }}</td>
        <td class="text-start">{{ addon.description|safe|truncate(40) }}</td>
        <td class="text-start">{{ addon.document|safe|truncate(40) }}</td>
        <td class="text-start">{% for rate in addon.rates %}- {{ rate.name|lower }}<br>{% endfor %}</td>
        <td class="text-start">{% if addon.salary %}- зарплата<br />{% endif %}{% if addon.pension %}- пенсия{% endif %}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('.single_addons_edit', id_=addon.id) }}">Редактировать</a>
            <a class="btn btn-danger btn-sm" role="button" href="{{ url_for('.single_addons_delete', del_id=addon.id) }}">Удалить</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}
{% block footer_buttons %}
  <a class="btn btn-primary" role="button" href="{{ url_for('.single_addons_add') }}">Добавить</a>
  <a class="btn btn-secondary" role="button" href="{{ url_for('.payment_data') }}">Назад</a>
{% endblock %}