{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h3 class="text-center text-dark mb-1">Установка шаблона для рабочих программ<br></h3>
</div>
<form method="post">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <div class="mb-2">
          {{ form.edu_spec.label(class="text-dark") }}
          {{ form.edu_spec(class="form-select") }}
        </div>
        <div class="mb-2">
          {{ form.spec_choose(class="btn btn-secondary border-0") }}
        </div>
        {% if edu_spec %}
          <div class="mb-2">
            {{ form.edu_plan.label(class="text-dark") }}
            {{ form.edu_plan(class="form-select") }}
          </div>
          <div class="mb-2">
            {{ form.template.label(class="text-dark") }}
            {{ form.template(class="form-select") }}
          </div>
          <div class="mt-4 mb-2">
            {{ form.base_template_update(class="btn btn-success fw-normal link-light", style="background: #008751;font-weight: bold;border-style: none;width: 100%;", type="submit") }}
          </div>
          <div class="mt-4 mb-2">
            {{ form.base_template_remove(class="btn btn-warning fw-normal link-light", style="background: #008751;font-weight: bold;border-style: none;width: 100%;", type="submit") }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</form>
{% endblock %}