{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <h3 class="text-center text-dark mb-1">
    {% block title %}Сводная информация по полям РП плана{% endblock %}
  </h3>
</div>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8">
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            {{ form.year.label(class="text-dark") }}
            {{ form.year(class="form-select") }}
          </div>
          <div class="col-md-9">
            {{ form.edu_spec.label(class="text-dark") }}
            {{ form.edu_spec(class="form-select") }}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            {{ form.department.label(class="text-dark") }}
            {{ form.department(class="form-select") }}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            {{ form.program_fields.label(class="text-dark") }}
            {{ form.program_fields(class="form-select") }}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            {{ form.fields_data(class="btn btn-secondary mb-1 mt-1", type="submit") }}
          </div>
        </div>
        {% if program_data %}
          <div class="row">
            <div class="col">
              {% for plan_id in program_data %}
                {% for plan_name in program_data[plan_id] %}
                  <div class="card shadow mb-2">
                    <div class="card-header py-3">
                      <p class="text-start text-primary m-0 fw-bold"><a href="{{ url }}/plan/plans/{{ plan_id }}" target="_blank">{{ plan_name }}</a><br></p>
                    </div>
                    <div class="card-body">
                      {% for disc_id in program_data[plan_id][plan_name] %}
                        {% for disc_name in program_data[plan_id][plan_name][disc_id] %}
                          {% for wp in program_data[plan_id][plan_name][disc_id][disc_name] %}
                            <div class="table-responsive">
                              <table class="table">
                                <thead class="text-danger">
                                  <tr>
                                    <th>
                                      {% if wp != 'none' %}
                                        <span>
                                          <a href="{{ url }}/mm/materials/view-wp?id={{ disc_id }}&work_program_id={{ wp }}" target="_blank">
                                            <i class="fas fa-external-link-alt"></i></a>
                                        </span>
                                        <span class="mx-1"></span>
                                      {% endif %}
                                      <span style="white-space: pre-line">{{ disc_name }}</span>
                                      {% if wp != "none" and has_permission(config.PROGRAMS_EDIT_FIELDS_PERMISSION) %}
                                        <a class="btn btn-light btn-sm border rounded mx-1" role="button" target="_blank"
                                           href="{{ url_for('programs.field_edit', wp_id=wp, parameter=program_field) }}">EDIT</a>
                                      {% endif %}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <span class="text-dark" style="white-space: pre-line">{{ program_data[plan_id][plan_name][disc_id][disc_name][wp] }}</span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          {% endfor %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</form>
{% endblock %}