{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <h3 class="text-center text-dark mb-1">
    {% block title %}Редактирование поля рабочей программы{% endblock %}
  </h3>
</div>
<form method="post">
  {{ form.hidden_tag() }}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
          <h4 class="fw-lighter text-center text-primary mt-2 mb-2">{{ program_name }}<br></h4>
          <div class="row mb-2">
            <div class="col">
              {{ form.program_fields.label(class="text-dark") }}
              {{ form.program_fields(class="form-select") }}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              {{ form.fields_data(class="btn btn-secondary mb-1 mt-1", type="submit") }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card shadow mb-2">
                <div class="card-header py-3">
                  {{ form.field_edit.label(class="text-center text-primary m-0 fw-bold") }}
                </div>
                <div class="card-body">
                  {{ form.field_edit(class="form-control", rows="8", value=field_data) }}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mb-3">
              {{ form.field_update(class="btn btn-info link-light", type="submit", style="width: 100%;font-weight: bold;border-style: none;") }}
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}