{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <h3 class="text-center text-dark mb-1">
    {% block title %}Формирование титульных листов рабочих программ{% endblock %}
  </h3>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h5 class="fw-bold text-center text-primary mt-2 mb-3">
        <a href="{{ url }}/plan/plans/{{ plan_id }}" target="_blank">{{ plan_name }}</a>
      </h5>
    </div>
  </div>
</div>
<form method="post">
  {{ form.hidden_tag() }}
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8 mb-2">
        <div class="row">
          <div class="col">
            {{ form.organization_name.label }}
            {{ form.organization_name(class="form-control mb-2", rows="3") }}
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            {{ form.wp_approval_info.label }}
            {{ form.wp_approval_info(class="form-control", rows="4") }}
          </div>
          <div class="col-md-6 mb-2">
            {{ form.chief_rank.label }}
            {{ form.chief_rank(class="form-control mb-2") }}
            {{ form.chief_name.label }}
            {{ form.chief_name(class="form-control") }}
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 offset-lg-0 mb-2">
            <div class="form-check form-switch mb-1">
              {{ form.switch_foreign(class="form-check-input", type="checkbox", id="flexSwitchForeigns") }}
              {{ form.switch_foreign.label(class="form-check-label", for="flexSwitchForeigns") }}
            </div>
            {{ form.wp_type_name(class="form-control") }}
          </div>
          <div class="col mt-1">
            {{ form.wp_approval_day.label }}
            {{ form.wp_approval_day(class="form-control", type="text") }}
          </div>
          <div class="col-md-3 mt-1">
            {{ form.wp_approval_month.label }}
            {{ form.wp_approval_month(class="form-select") }}
          </div>
          <div class="col mt-1">
            {{ form.wp_approval_year.label }}
            {{ form.wp_approval_year(class="form-control", type="text") }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form.wp_speciality_type(class="form-select mb-2") }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form.wp_speciality(class="form-control mb-2", type="text") }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form.wp_specialization_type(class="form-select mb-2") }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ form.wp_specialization(class="form-control mb-2", type="text") }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mt-2">
            {{ form.wp_education_form.label }}
            {{ form.wp_education_form(class="form-control mb-2", type="text") }}
          </div>
          <div class="col-md-3 mt-2">
            {{ form.wp_year.label }}
            {{ form.wp_year(class="form-control mb-2", type="text") }}
          </div>
          <div class="col-md-6">
            <div class="form-check form-switch mb-2">
              {{ form.switch_qualification(class="form-check-input", type="checkbox", id="flexSwitchQualification", checked=True) }}
              {{ form.switch_qualification.label(class="form-check-label", for="flexSwitchQualification") }}
            </div>
            {{ form.wp_qualification(class="form-control mb-2", type="text") }}
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <div class="form-check form-switch mb-2">
              {{ form.switch_narrow_spec(class="form-check-input", type="checkbox", id="flexSwitchNarrowSpec") }}
              {{ form.switch_narrow_spec.label(class="form-check-label", for="flexSwitchNarrowSpec") }}
            </div>
            {{ form.wp_narrow_specialization(class="form-control mb-2", type="text") }}
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-xl-8 mb-2">
        {{ form.title_pages(class="btn btn-success link-light mb-3", type="submit", style="background: #008751;width: 100%;font-weight: bold;border-style: none;") }}
      </div>
    </div>
</form>
{% endblock %}