<div class="container-fluid">
    <h3 class="text-center text-dark mb-1">Сводная информация по полям РП плана<br></h3>
</div>
<form method="post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-xl-8">
                <div class="row mb-2">
                    <div class="col-md-3"><label class="form-label text-dark">Год</label><select class="form-select">
                            <optgroup label="Выберите год:">
                                <option value="13">This is item 2</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select></div>
                    <div class="col-md-9"><label class="form-label text-dark">Специальность:</label><select class="form-select">
                            <optgroup label="Выберите месяц:">
                                <option value="13">This is item 2</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select></div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label class="form-label text-dark">Кафедра:</label><select class="form-select">
                            <optgroup label="Выберите год:">
                                <option value="13">This is item 2</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select></div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label class="form-label text-dark">Поле рабочей программы:</label><select class="form-select">
                            <optgroup label="Выберите год:">
                                <option value="13">This is item 2</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select></div>
                </div>
                <div class="row mb-2">
                    <div class="col"><button class="btn btn-secondary mb-1 mt-1" id="fields_data" type="button" name="fields_data">Выбрать</button></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-2">
                            <div class="card-header py-3">
                                <p class="text-start text-primary m-0 fw-bold">40.05.01 Правовое обеспечение национальной безопасности 2022<br></p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-danger">
                                            <tr>
                                                <th><span style="white-space: pre-line">Б.1.О.16 Административное право</span><a class="btn btn-light btn-sm border rounded mx-1" role="button" target="_blank" href="{{ url_for('programs.wp_field_edit') }}?disc_id={{ wp_data[plan][wp][1] }}&amp;parameter={{ wp_field }}">EDIT</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="text-dark" style="white-space: pre-line">Дата заседания кафедры: 06.04.2022 Протокол № 7</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-danger">
                                            <tr>
                                                <th><span style="white-space: pre-line">Б.1.О.33 Государственная служба в органах внутренних дел</span><a class="btn btn-light btn-sm border rounded mx-1" role="button" href="{{ url_for('programs.wp_field_edit') }}?disc_id={{ wp_data[plan][wp][1] }}&amp;parameter={{ wp_field }}" target="_blank">EDIT</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="text-dark" style="white-space: pre-line">Дата заседания кафедры: 06.04.2022 Протокол № 7</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>