<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <meta property="og:type" content="website">
    <meta name="description" content="Расширения базовых функций Апекс-ВУЗ">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../assets/img/favicons/android-chrome-512x512.png">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="../assets/css/Nunito.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/Features-Cards.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark sticky-top align-items-start sidebar sidebar-dark mobile-hid" style="background: #002649;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="opacity: 0.80;">
                    <div class="sidebar-brand-icon"><i class="fas fa-hands-helping"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Сервисы</span></div>
                </a>
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link py-2" href="../index.html"><i class="fas fa-home"></i><span>Главная</span></a></li>
                    <li class="nav-item dropdown" style="--bs-danger-rgb: 211,5,71;"><a class="dropdown-toggle nav-link py-2" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#"><i class="fas fa-user-cog"></i><span>Пользователи</span></a>
                        <div class="dropdown-menu text-center py-0"><a class="dropdown-item text-center py-1" href="../auth/register.html">Регистрация</a><a class="dropdown-item text-center py-1" href="#">Управление</a></div>
                    </li>
                    <li class="nav-item text-start"><a class="nav-link py-2" href="../schedule/schedule.html"><i class="far fa-calendar-alt"></i><span>Расписание</span></a></li>
                    <li class="nav-item"><a class="nav-link py-2" href="../load/load_report.html"><i class="fas fa-receipt"></i><span>Отчет о нагрузке</span></a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link py-2" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#"><i class="fas fa-layer-group"></i><span>Учебные планы</span></a>
                        <div class="dropdown-menu text-center py-0"><a class="dropdown-item text-center py-1" href="../plans/comp_load.html">Загрузка компетенций</a><a class="dropdown-item text-center py-1" href="../plans/matrix_simple_load.html">Матрица простая</a><a class="dropdown-item text-center py-1" href="../plans/matrix_indicator_load.html">Матрица с индикаторами</a><a class="dropdown-item text-center py-1" href="../plans/matrix_indicator_file.html">Индикаторы по дисциплинам</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link py-2" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#"><i class="fas fa-clipboard-list"></i><span>Программы</span></a>
                        <div class="dropdown-menu text-center py-0"><a class="dropdown-item text-center py-1" href="../programs/wp_dept_check.html">Проверка по кафедре<br></a><a class="dropdown-item text-center py-1" href="../programs/wp_dates_update.html">Обновление дат</a><a class="dropdown-item text-center py-1" href="../programs/wp_fields.html">Значения полей<br></a><a class="dropdown-item text-center py-1" href="../programs/wp_data.html">Общая информация<br></a><a class="dropdown-item text-center py-1" href="../programs/wp_title.html">Титульные листы<br></a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link py-2" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="false" href="#"><i class="fas fa-book-open"></i><span>Обеспечение</span></a>
                        <div class="dropdown-menu text-center py-0"><a class="dropdown-item text-center py-1" href="../library/library_choose_plan.html">Список литературы<br></a><a class="dropdown-item text-center py-1" href="../library/library_upload.html">Интернет ресурсы</a><a class="dropdown-item text-center py-1" href="#">Базы и справочные системы<br></a><a class="dropdown-item text-center py-1" href="#">Научная продукция<br></a></div>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper" style="background: rgb(248, 249, 252);">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <h5 class="text-dark mb-0">Расширения базовых функций Апекс-ВУЗ<br></h5>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">user_name</span><i class="far fa-check-square" style="font-size: 16px;color: var(--bs-green);"></i></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Выйти</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-center text-dark mb-1">Информация по рабочим программам учебного плана<br></h3>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h5 class="fw-normal text-center text-primary mt-2 mb-3">40.05.01 Правовое обеспечение национальной безопасности {{ plan_name }}<br></h5>
                        </div>
                    </div>
                </div>
                <form method="post">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-xl-8 mb-2">
                            <div class="row">
                                <div class="col"><textarea class="form-control mb-2" id="organization_name" placeholder="ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ КАЗЕННОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ «ОРЛОВСКИЙ ЮРИДИЧЕСКИЙ ИНСТИТУТ МИНИСТЕРСТВА ВНУТРЕННИХ ДЕЛ РОССИЙСКОЙ ФЕДЕРАЦИИ ИМЕНИ В.В. ЛУКЬЯНОВА»" rows="3" name="organization_name"></textarea></div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6 mb-2"><label class="form-label" id="wp_approval_info_label" name="wp_approval_info_label">Информация об утверждении</label><textarea class="form-control" id="wp_approval_info" placeholder="УТВЕРЖДАЮ Начальник Орловского юридического института МВД России имени В.В. Лукьянова" rows="4" name="wp_approval_info"></textarea></div>
                                <div class="col-md-6 mb-2"><label class="form-label" id="chief_rank_label" name="chief_rank_label">Звание руководителя</label><input class="form-control" type="text" id="chief_rank" name="chief_rank"><label class="form-label" id="chief_name_label">Имя руководителя</label><input class="form-control" type="text" id="chief_name"></div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6 offset-lg-0 mb-2">
                                    <div class="form-check form-switch mb-2"><input class="form-check-input" type="checkbox" id="flexSwitchForeigns" name="switch_foreign"><label class="form-check-label" id="switch_foreign_label" for="flexSwitchForeigns" name="switch_foreign_label">Иностранные слушатели<br></label></div><input class="form-control" type="text">
                                </div>
                                <div class="col"><label class="form-label" id="wp_approval_day_label" name="wp_approval_day_label">День</label><input class="form-control" type="text" id="wp_approval_day" name="wp_approval_day"></div>
                                <div class="col-md-3"><label class="form-label" id="wp_approval_month_label" name="wp_approval_month_label">Месяц</label><select class="form-select" id="wp_approval_month" name="wp_approval_month">
                                        <optgroup label="This is a group">
                                            <option value="12" selected="">This is item 1</option>
                                            <option value="13">This is item 2</option>
                                            <option value="14">This is item 3</option>
                                        </optgroup>
                                    </select></div>
                                <div class="col"><label class="form-label" id="wp_approval_year_label" name="wp_approval_year_label">Год</label><input class="form-control" type="text" id="wp_approval_year" name="wp_approval_year"></div>
                            </div>
                            <div class="row">
                                <div class="col"><select class="form-select mb-2" id="wp_speciality_type" name="wp_speciality_type">
                                        <optgroup label="This is a group">
                                            <option value="12" selected="">This is item 1</option>
                                            <option value="13">This is item 2</option>
                                            <option value="14">This is item 3</option>
                                        </optgroup>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col"><input class="form-control mb-2" type="text" id="wp_speciality" name="wp_speciality"></div>
                            </div>
                            <div class="row">
                                <div class="col"><select class="form-select mb-2" id="wp_specialization_type" name="wp_specialization_type">
                                        <optgroup label="This is a group">
                                            <option value="12" selected="">This is item 1</option>
                                            <option value="13">This is item 2</option>
                                            <option value="14">This is item 3</option>
                                        </optgroup>
                                    </select></div>
                            </div>
                            <div class="row">
                                <div class="col"><input class="form-control mb-2" type="text" id="wp_specialization" name="wp_specialization"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="form-label" id="wp_education_form_label" name="wp_education_form_label">Форма обучения:</label><input class="form-control mb-2" type="text" id="wp_education_form" name="wp_education_form"></div>
                                <div class="col-md-3"><label class="form-label" id="wp_year_label" name="wp_year_label">Год набора:</label><input class="form-control mb-2" type="text" id="wp_year" name="wp_year"></div>
                                <div class="col-md-6">
                                    <div class="form-check form-switch mb-2"><input class="form-check-input" type="checkbox" id="flexSwitchQualification" checked="" name="switch_qualification"><label class="form-check-label" id="switch_qualification_label" for="flexSwitchQualification">Квалификация:<br></label></div><input class="form-control mb-2" type="text" id="wp_qualification" name="wp_qualification">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-2">
                                    <div class="form-check form-switch mb-2"><input class="form-check-input" type="checkbox" id="flexSwitchNarrowSpec" name="switch_narrow_spec"><label class="form-check-label" id="switch_narrow_spec_label" for="flexSwitchNarrowSpec">Узкая специализация:<br></label></div><input class="form-control" type="text" id="wp_narrow_specialization" name="wp_narrow_specialization">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-xl-8 mb-2"><button class="btn btn-success link-light mb-3" id="title_pages" type="button" style="background: #008751;width: 100%;font-weight: bold;border-style: none;" name="title_pages">Сформировать титульные листы<br></button></div>
                    </div>
                </form>
            </div>
            <footer class="bg-white sticky-footer" style="padding-top: 4px;padding-bottom: 4px;--bs-body-bg: #f8f9fc;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span style="font-size: 9.8px;">Copyright © Evgeny Semenov, 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/theme.js"></script>
</body>

</html>